fastapi
uvicorn
pydantic
requests
httpx
langchain
qdrant-client[async]
mistune
organisation_utils @ https://github.com/semantic-hallucinations/semantic-hallucinations-utils/archive/refs/heads/main.zip
